<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    <%= form_with(model: @user, url: update_monthly_user_attendances_path(@user), local: true, method: :patch) do |f| %>
      <% @monthly_users.each do |id, attendances| %>
      <% user = User.find(id) %>
      <h2 class="modal-title">【<%= user.name %>からの1ヶ月分勤怠申請】</h2>
      <table class="table table-bordered table-striped table-hover" id = "table-attendances">
        <thead>
          <th>月</th>
          <th>指示者確認㊞</th>
          <th>変更</th>
          <th>勤怠を確認する</th>
        </thead>
        <% attendances.each do |attendance| %>
          <%= f.fields_for "attendances[]", attendance do |att| %>
          <tbody>
            <td><%= l(attendance.worked_on, format: :short) %></td>
            <td><%= att.select :monthly_request_status, [['なし'],['申請中'],['承認'],['否認']], {include_blank: true}, { class: "form-control" } %></td>
            <td><%= att.check_box :change, class:"change" %></td>
            <td><%= link_to "確認", attendances_confirm_one_month_user_path(User.find(id), date: attendance.worked_on), class: "btn btn-primary byn-md" %></td>
          </tbody>
          <% end %>
        <% end %>
      <% end %>
      </table>
      
      <div class="center">
        <%= f.submit "変更を送信する", class: "btn btn-primary btn-block btn-user" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
