<% provide(:title, 'attendance-log') %>

<h1>勤怠ログ</h1>

<%= form_tag(attendances_log_index_user_path, method: :get) do %>
  <div class="pull-left">
    <%= date_select :search, 'worked_on', {start_year: Time.now.year, end_year: Time.now.year-5, discard_day: true}, class: "form-control" %>
    <%= submit_tag "検索", worked_on: :nil, class: "btn btn-primary btn-show" %>
  </div>
<% end %>


<div>
  <table class="table table-bordered table-condenced table-hover" id="table-attendances">
    <thead>
      <tr>
        <th>日付</th>
        <th>変更前出社時間</th>
        <th>変更前退社時間</th>
        <th>変更後出社時間</th>
        <th>変更後退社時間</th>
        <th>承認者</th>
        <th>承認日</th>
      </tr>
    </thead>
    
    <tbody>
      <% @logs.each do |day| %>
        <tr>
          <td><%= l(day.worked_on, format: :log) %></td>
          <td><%= l(day.started_at, format: :time) if day.started_at.present? %></td>
          <td><%= l(day.finished_at, format: :time) if day.finished_at.present? %></td>
          <td><%= l(day.edit_started_at, format: :time) if day.edit_started_at.present? %></td>
          <td><%= l(day.edit_finished_at, format: :time) if day.edit_finished_at.present? %></td>
          <td><%= day.edit_confirmation %></td>
          <td><%= l(day.approval_date, format: :log) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "勤怠へ戻る", user_path(date: @first_day), class: "btn btn-primary" %>
</div>
